<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413389698378-sm9scss0lfv6lglfo6sqa984rkilkbks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413389698378-sm9scss0lfv6lglfo6sqa984rkilkbks</string>
	<key>API_KEY</key>
	<string>AIzaSyBUmw-YJXBg8n8hSgY6tH062A9e2VR-gc0</string>
	<key>GCM_SENDER_ID</key>
	<string>413389698378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuzhang.depression</string>
	<key>PROJECT_ID</key>
	<string>simple-depression-test</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-depression-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413389698378:ios:6d9b1d1e096c15cd</string>
	<key>DATABASE_URL</key>
	<string>https://simple-depression-test.firebaseio.com</string>
</dict>
</plist>